.bx {
	height: 3.125rem;
	font-size: 1.25rem;
	line-height: 3.125rem;
	text-align: center;
	color: inherit;
}

.bx-search:hover {
	color: $white;
}

.icons {
	fill: #fff;
	width: 20px;
	height: 20px;
}

.player__icon {
	&--prev,
	&--play,
	&--pause,
	&--next {
		width: 30px;
		height: 30px;
	}

	&--prev:hover,
	&--play:hover,
	&--pause:hover,
	&--next:hover,
	&--like:hover,
	&--shuffle:hover,
	&--repeat:hover {
		opacity: .6;
	}

	&--volume {
		fill: white;
		fill-opacity: .6;
		width: 20px;
		height: 20px;
	}

	&--volume:hover {
		fill: #ffff;
		fill-opacity: 4;
	}

}

