//Containers
$maxWhich-1200: 1200;
$--container-width: 1240px;
$--container-padding: 20px;

$--section-padding-y: 70px;

// Colors
$body-bg: #20222c;
$footer-bg: #111218;
$white: #ffffff;
$textMenu: #58595f;
$search: #262834;
$ellipse: #d9d9d9;
$--panel-gap: 0.5rem;

//  Icons player color
$--bg--primaryActive: #ff7300;
$--bg--primaryHover: #58595f;
$--bg--strokeLike: rgb(214, 14, 14);
$--bg--primary: rgba(255, 255, 255, 1);

$--button-height: 68px;
