.sidebar {
  // grid-area: 1 / 1 / 3 / 2;
  grid-area: sidebar;
}

.sidebar__container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90px 150px 1fr;
  row-gap: 8px;
  height: 100%;
  background-color: #444b53;
  position: relative;

  #btn-menu {
    position: absolute;
    left: 90%;
    top: 0;
    height: 3.125rem;
    width: 3.125rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    text-align: center;
    transform: translateX(-50%);
    color: $white;
  }
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  background-color: $body-bg;

  height: 5.625rem;
  padding: 5px 12px;
  border-radius: 15px;

  &__link {
    display: inline-block;
    height: 100%;
  }

  &__link svg {
    height: 100%;
    width: 100%;
  }
}

.top-menu {
}

.menu {
  grid-area: 2 / 1 / 3 / 2;
  padding: 8px 10px;
  border-radius: 15px;
  background-color: $body-bg;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.menu__list {
  height: 100%;
  margin: 0;
  padding: 8px 10px;
}

.menu__item {
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 4px 10px;
  margin: 0;
}

.menu__link,
.menu__button {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  gap: 0.3125rem;
  transition: 0.5s;
  text-decoration: none;
  color: $textMenu;

  &:active {
    color: $white;
  }

  &:hover {
    color: $white;
  }
}

.menu__button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}
.link__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.menu-playlist {
  grid-area: 3 / 1 / 4 / 2;
  border-radius: 15px;
  margin: 0;
  padding: 8px 10px;
  background-color: $body-bg;
  overflow-y: auto;
}
